/* NAVBAR CSS ---> Header.js */

/* Navbar */
.navbar {
    background-color: rgba(27, 28, 29, 0.611); /* Faded version of #242526 */
    border-radius: 4em;
    padding: 1em;
    margin: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .navbar-brand {
    color: #28a745; /* Green color */
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  
  
  .navbar-nav .nav-link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: #28a745;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navbar-nav .nav-link:hover {
    background-color: #28a745; /* Green */
    color: #fff; /* White */
  }
  
  /* Apply Flexbox to navbar-nav */
  .navbar-nav {
    display: flex; /* Arrange items in a row */
    justify-content: space-between; /* Spread out the items evenly */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    list-style-type: none; /* Remove default list bullets */
  }
  
  .nav-item {
    margin: 0 10px; /* Add horizontal margin between the items */
  }
  
  
  .nav-item .nav-link:hover {
    background-color: #28a745; /* Green background on hover */
    color: white; /* White text on hover */
  }
  
  .nav-item .nav-link.active {
    background-color: #218838; /* Slightly darker green for active link */
    color: white; /* White text for active link */
  }
  
  .btn-primary {
    padding: 0.5rem 1rem;
    margin-left: 1em;
    background-color: #28a745; /* Green color */
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #218838; /* Slightly darker green */
  }
  
  /* Responsive breakpoint for mobile screens */
  @media (max-width: 991.98px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-nav {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #2a2c2f;
      padding: 1em;
      border-radius: 0 0 1em 1em;
    }
  
    .navbar-nav.active {
      display: flex;
    }
  
    .navbar-nav .nav-link {
      margin: 0.5em 0;
      text-align: center;
    }
  
    .btn-primary {
      margin-top: 1em;
    }
  }
  
  .navbar-toggler {
    background-color: #28a745;
    color: white;
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    display: none;
  }
  
  @media (max-width: 991.98px) {
    .navbar-toggler {
      display: block;
    }
  }
  